@model IEnumerable<AssignToMonth.Models.Month>

@{
    ViewData["Title"] = "Index";
}

<h1>Månader</h1>

<p>
    <a asp-action="Create">Lägg till ny månad</a>
</p>
<div class="mb-2" style="width:200px">
@using (Html.BeginForm("Index","Months", FormMethod.Get))
    {
        <span>År</span>@Html.DropDownList("year", new SelectList(ViewBag.Year), new { @class="form-control"})
        <input class="btn btn-dark mt-3 col-12" type="submit" value="Sök" />
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonthName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonthName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editera</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
            </td>
        </tr>
        }
    </tbody>
</table>
